DATABASE_URL=postgresql://root:YOUR_PASSWORD@host.docker.internal:5432/hatchet?sslmode=disable
HATCHET_HTTP_PORT=8080
HATCHET_GRPC_PORT=7077
MINIO_ROOT_USER=YOUR_MINIO_USER
MINIO_ROOT_PASSWORD=YOUR_MINIO_PASSWORD
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
WEGO_CODEC_AES_KEY=YOUR_64_HEX_CHAR_KEY
